@import './variables';

:root {
  --color-success: #4bb543;
  --color-error: #db0f13;
  --color-white: #fff;
  --color-grey: #ccc;
  --color-offwhite: #eee;
  --color-black: #000;
  --color-blue: rgba(74, 145, 255, 1);
  --color-lightblue: rgb(154, 195, 255);
  --color-orange: #ff7833;
}
